{% extends "HomePage/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Profile Update" %}{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Редактирование профиля, {{ user.username }}</h1>
        <p class="lead">Данная страница позволит вам изменить персоналоьные данные на сайте.</p>
        <hr>
        <form class="text-left" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <table align="center">
                <tbody>
                    <tr>
                        <td>
                            Логин:
                        </td>
                        <td colspan="2">
                            {{ u_form.username }}
                        </td>
                        <td rowspan="5">
                            <img src="{{ user.profile.image.url }}">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Почта:
                        </td>
                        <td colspan="2">
                            {{ u_form.email }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Имя:
                        </td>
                        <td colspan="2">

                        </td>
                    </tr>
                    <tr>
                        <td>
                            Фамилия:
                        </td>
                        <td colspan="2">

                        </td>
                    </tr>
                    <tr>
                        <td>
                            Мобильный телефон:
                        </td>
                        <td colspan="2">

                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td colspan="2"></td>
                        <td rowspan="2">{{ p_form.image }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <hr>
            <p>*-Поля должны быть обязательно заполнены.</p>
            <button class="btn btn-outline-success btn-lg ml-3" type="submit">{% trans "Обновить" %}</button>
            <button class="btn btn-outline-secondary btn-lg ml-3" type="reset">Отменить</button>
        </form>
    </div>
</div>
{% endblock %}

