{% extends "HomePage/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}{% trans "Profile Update" %}{% endblock %}

{% block content %}
<!--
<div class="container">
    {% csrf_token %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page">Профиль</li>
        </ol>
    </nav>

    <ul class="list-group list-group-horizontal">
        <li class="list-group-item list-group-item-dark">
        <table>
            <tbody>
                <tr>
                    <td>
                        Изображение пользователя:
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="{{ profile_view.image.url }}" width="200">
                    </td>
                </tr>
            </tbody>
        </table>
        </li>
        <ul class="list-group">
        <li class="list-group-item list-group-item-secondary">
             <table>
                <tbody>
                    <tr>
                        <td>
                            Логин пользователя:
                        </td>
                        <td>
                            {{ user.username }}
                        </td>
                        <td>
                            Почта пользователя:
                        </td>
                        <td>
                            {{ user.email }}
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Рейтинг пользователя:
                        </td>
                        <td>
                            {{ profile_view.rating }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </li>
        {% if company %}
        <li class="list-group-item list-group-item-secondary">
            <table>
                <tbody>
                    <tr>
                        <td>
                            Название компании:
                        </td>
                        <td>
                            <span class="badge badge-info">{{ company.name }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ЕДРПОУ:
                        </td>
                        <td>
                            <span class="badge badge-info">{{ company.edrpou }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Официальное название:
                        </td>
                        <td>
                            <span class="badge badge-info">{{ company.officialName }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Ажрес регистрации:
                        </td>
                        <td>
                            <span class="badge badge-info"></span>
                            {{ company.address }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Учередитель:
                        </td>
                        <td>
                            <span class="badge badge-info">{{ company.mainPerson }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Вид деятельности:
                        </td>
                        <td>
                            <span class="badge badge-info">{{ company.occupation }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Статус:
                        </td>
                        <td>
                            <span class="badge badge-info">{{ company.status }}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </li>
        {% endif %}
    </ul>
        <li class="list-group-item list-group-item-dark">
            <table>
                <tbody>
                    <tr>
                        <td>
                            <a href="{% url 'createCompanyProfile' %}" type="button" class="btn btn-primary">Добавить компанию + </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="{% url 'set-up-notifications' %}" type="button" class="btn btn-light">Настройка уведомлений</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            -
                        </td>
                    </tr>
                    <tr>
                        <td>
                            -
                        </td>
                    </tr>
                    <tr>
                        <td>
                            -
                        </td>
                    </tr>
                    <tr>
                        <td>
                            -
                        </td>
                    </tr>
                    <tr>
                        <td>
                            -
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="{% url 'profile_update' %}" type="button" class="btn btn-success">Изменить профиль</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#" type="button" class="btn btn-danger">Удалить профиль</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </li>
    </ul>
</div>
-->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Приветствуем, {{ user.username }}</h1>
        <p class="lead">Это ваша страница профиля. Ее могу видеть все зарегестированные пользователи.</p>
    </div>
    <div class="container">
        <table>
            <tbody>
                <tr>
                    <td colspan="2">Логин пользователя</td>
                    <td colspan="2">{{ user.username }}</td>
                    <td rowspan="5" colspan="1"><img src="{{ profile_view.image.url }}" width="auto"></td>
                </tr>
                <tr>
                    <td colspan="2">Электронная почта</td>
                    <td colspan="2">{{ user.email }}</td>
                </tr>
                <tr>
                    <td colspan="2">Рейтинг пользователя</td>
                    <td colspan="2">{{ profile_view.rating }}</td>
                </tr>
                <tr>
                    <td colspan="2">Отображать профиль для пользователей?</td>
                    <td colspan="2">
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input"
                                 id="notifications" name="notifications"
                                 value="{{form.notifications}}">
                          <label class="custom-control-label" for="notifications">Нет/Да</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">Отображать компанию для пользователей?</td>
                    <td colspan="2">
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input"
                                 id="notifications2" name="notifications2"
                                 value="{{form.notifications2}}">
                          <label class="custom-control-label" for="notifications2">Нет/Да</label>
                        </div>
                    </td>
                </tr>
                {% if company %}

                <tr>
                    <td>
                        Название компании:
                    </td>
                    <td colspan="4">
                        <span class="badge badge-info">{{ company.name }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        ЕДРПОУ:
                    </td>
                    <td colspan="4">
                        <span class="badge badge-info">{{ company.edrpou }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        Официальное название:
                    </td>
                    <td colspan="4">
                        <span class="badge badge-info">{{ company.officialName }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        Ажрес регистрации:
                    </td>
                    <td colspan="4">
                        <span class="badge badge-info"></span>
                        {{ company.address }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Учередитель:
                    </td>
                    <td colspan="4">
                        <span class="badge badge-info">{{ company.mainPerson }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        Вид деятельности:
                    </td>
                    <td colspan="4">
                        <span class="badge badge-info">{{ company.occupation }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        Статус:
                    </td>
                    <td colspan="4">
                        <span class="badge badge-info">{{ company.status }}</span>
                    </td>
                </tr>

                {% endif %}
                <tr>
                    {% if company %}
                    <td colspan="2"><button type="button" class="btn btn-secondary">Изменить компанию </button></td>
                    {% else %}
                    <td><a href="{% url 'createCompanyProfile' %}" type="button" class="btn btn-primary">Добавить компанию + </a></td>
                    {% endif %}

                    <td><a href="{% url 'profile_update' %}" type="button" class="btn btn-success">Изменить профиль</a></td>
                    <td><a href="#" type="button" class="btn btn-danger">Удалить профиль</a></td>

                    <td><a href="{% url 'set-up-notifications' %}" type="button" class="btn btn-light">Настройка уведомлений</a></td>

                </tr>

            </tbody>
        </table>
    </div>
</div>

{% endblock %}

