{% extends "HomePage/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "SignUp" %}{% endblock %}

{% block content %}
  <h2 class="ml-2" align="center">{% trans "SING UP" %}</h2>
  <form method="post">
    {% csrf_token %}
      {% for field in form %}
      <p>
        {{ field|as_crispy_field }}
        {% if field.help_text %}
          <small style="display: none">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
      {% endfor %}
    <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "SignUp" %}</button>
  </form>
  <div class="border-top pt-3">
      <small class="text-muted">
          {% trans "Already Have An Account?" %} <a class="ml-2" href="{% url 'login' %}">{% trans "Log In" %}</a>
      </small>
  </div>
{% endblock %}