{% extends "HomePage/base.html" %}
{% load i18n %}
{% block title %}{% trans "All Orders" %}{% endblock %}
{% load static %}
{% load bootstrap_pagination %}

{% block content %}
    <link rel="stylesheet" href="{% static 'orders/style.css' %}">
    <div class="page">
        <!--Навигация-->
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">All orders</li>
          </ol>
        </nav>
        <!--Навигация-->

        <!--Уведомления-->
        <div class="container">
            <h2>{% trans "ALL ORDERS" %}</h2>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <!--Уведомления-->

        <!--Фильтры-->
        <div class="orders-filter">
            <div class="container-mb-2">
                <ul class="list-group">
                  <li class="list-group-item active">Categories filter:</li>
                  {% for category in filters %}
                    <a href="{% url 'order_category_view' pk=category.pk %}" class="filter-menu"><li class="list-group-item">{{ category.title }}</li></a>
                  {% endfor %}
                </ul>
            </div>
            <div class="container-mb-2">
                <p>City filter:</p>
                {% for city in all_city %}
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                      <label class="form-check-label" for="defaultCheck1">
                        <a href="#" class="filter-menu">{{ city.title }}</a>
                      </label>
                    </div>
                {% endfor %}
            </div>
            <button type="button"><a href=""></a>Применить</button>
        </div>
        <!--Фильтры-->

        <!--Заказы-->
        <div class="orders-views">
        {% for order in all_orders.object_list %}
            <table class="table-dark">
                <tbody>
                    <tr>
                        <td class="order-drawings" rowspan="6">
                            Изображение заказа
                            <img src="{{order.image_view.url }}" width="300" height="300">
                        </td>
                        <td class="order-title">
                            Заголовок заказа:
                            <span class="badge badge-secondary">{{ order.title }}</span>
                        </td>
                        <td class="oreder-author">
                            Автор заказа:
                            <span class="badge badge-secondary">{{ order.author }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="order-description" rowspan="4">{{ order.description }}</td>
                        <td class="order-date-create">{{ order.date_create }}</td>
                    </tr>
                    <tr>
                        <td class="order-lead-time">{{ order.lead_time }}</td>
                    </tr>
                    <tr>
                        <td class="order-amount">{{ order.amount }}</td>
                    </tr>
                    <tr>
                        <td class="order-proposed-budget">{{ order.proposed_budget }}</td>
                    </tr>
                    <tr>
                        <td class="order-city">{{ order.city }}</td>
                        <td class="order-bottom-view">
                            <a class="btn btn-success btn-sm" href="{{order.id}}">Подробнее</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="order-categories" colspan="3">
                            {% for cat in order.categories.all %}
                                <span class="badge badge-info">{{ cat }}</span>
                            {% endfor %}
                        </td>

                    </tr>
                </tbody>
            </table>
            <hr>
        {% endfor %}
        </div>
        <!--Заказы-->

        <!--Пагинация-->
        <div class="pagination">
            {% bootstrap_paginate all_orders range=10 %}
        </div>
        <!--Пагинация-->


    </div>
{% endblock %}

