{% extends "HomePage/base.html" %}
{% load i18n %}
{% block title %}{% trans "All Orders" %}{% endblock %}

{% block content %}
    {% for order in all_orders %}
        <div class="container">
            <small>{{ order.author }}</small>
            <small>{{ order.date_create }}</small>
            <h2><a href="{{order.id}}">{{ order.title }}</a></h2>
            <p>{{ order.description }}</p>
            <p>{% trans "Кол-во изделий: " %} {{ order.amount }}</p>
            <p>{% trans "Город заказа: "%} {{ order.city }}</p>
            <p>{% trans "Срок выполнения заказа: "%} {{ order.lead_time }}</p>
            <p>{% trans "Предложенный бюджет: " %} {{ order.proposed_budget }}</p>
            <p>{% trans "Активность заказа" %} {{ order.activity }}</p>
            <p>{% trans "Статус заказа" %} {{ order.status }}</p>
        </div>
    {% endfor %}
{% endblock %}
