{% extends "HomePage/base.html" %}
{% load i18n %}
{% block title %}{% trans "All Orders" %}{% endblock %}
{% load static %}
{% load bootstrap_pagination %}

{% block content %}
    <link rel="stylesheet" href="{% static 'orders/style.css' %}">
    <div class="page">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">All orders. Filter</li>
            </ol>
        </nav>
        <div class="container">
            <h2>{% trans "ALL ORDERS" %}</h2>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="orders-filter">
            <div class="container-mb-2">
                <p>Categories filter:</p>
                {% for category in filters %}
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                      <label class="form-check-label" for="defaultCheck1">
                        <a href="{% url 'order_category_view' pk=category.pk %}" class="filter-menu">{{ category.title }}</a>
                          <!---->
                      </label>
                    </div>
                {% endfor %}

            </div>
            <div class="container-mb-2">
                <p>City filter:</p>
                {% for city in all_city %}
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                      <label class="form-check-label" for="defaultCheck1">
                        <a href="#" class="filter-menu">{{ city.title }}</a>
                      </label>
                    </div>
                {% endfor %}
            </div>
            <button type="button"><a href=""></a>Применить</button>
        </div>
        <div class="orders-views">
        {% for order in all_orders.object_list %}
            <table class="table-dark">
                <tbody>
                    <tr>
                        <td class="order-drawings" rowspan="6">Изображение заказа</td>
                        <td class="order-title">{{ order.title }}</td>
                        <td class="oreder-author">{{ order.author }}</td>
                    </tr>
                    <tr>
                        <td class="order-description" rowspan="4">{{ order.description }}</td>
                        <td class="order-date-create">{{ order.date_create }}</td>
                    </tr>
                    <tr>
                        <td class="order-lead-time">{{ order.lead_time }}</td>
                    </tr>
                    <tr>
                        <td class="order-amount">{{ order.amount }}</td>
                    </tr>
                    <tr>
                        <td class="order-proposed-budget">{{ order.proposed_budget }}</td>
                    </tr>
                    <tr>
                        <td class="order-city">{{ order.city }}</td>
                        <td class="order-bottom-view"><a href="//localhost:8000/orders/{{order.id}}">Подробнее</a></td>
                    </tr>
                    <tr>
                        <td class="order-categories" colspan="3">
                            {% for cat in order.categories.all %}
                                <small>{{ cat }}</small>
                                <small>,</small>
                            {% endfor %}
                        </td>

                    </tr>
                </tbody>
            </table>
            <hr>
        {% endfor %}
        </div>
        <div class="pagination">
            {% bootstrap_paginate all_orders range=10 %}
        </div>


    </div>
{% endblock %}

