{% extends "HomePage/base.html" %}
{% load i18n %}
{% block title %}{% trans "Order" %} № {{ order.id }}{% endblock %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'orders/order_style.css' %}">

    <div class="vso">
        <!--Навигация-->
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
            <li class="breadcrumb-item"><a href="{% url 'orders' %}">Все заказы</a></li>
            <li class="breadcrumb-item active" aria-current="page">Заказ: "{{ order.title }}"</li>
          </ol>
        </nav>
        <!--Навигация-->

        <!--Предложения для автора-->
        <div class="vs">
            <div>
                <ul class="list-unstyled chat-1 scrollbar-light-blue">
                    <li href="#" class="list-group-item list-group-item-action list-group-item-dark">ВСЕ ПРЕДЛОЖЕНИЯ</li>
                    {% if user == order.author %}
                        {% for form in suggestions %}
                            <a href="/suggestion/view/{{form.id}}" class="list-group-item list-group-item-action list-group-item-secondary">
                                {% csrf_token %}
                                <table class="table2">
                                    <tbody>
                                        <tr >
                                            <td >Автор предложения:</td>
                                            <td>{{ form.author }}</td>
                                            <td>Дата создания предложения: </td>
                                            <td>{{ form.date_create }}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="4">{{ form.offer_description }}</td>
                                        </tr>
                                        <tr>
                                            <td>Предложенная стоимость:</td>
                                            <td>{{ form.offer_price}}&#8372;</td>
                                            <td>Срок выполнения до:</td>
                                            <td>{{ form.deadline }}</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Состояние предложения:
                                            </td>
                                            <td>
                                                {% if form.selected_offer %}
                                                    <span class="badge badge-success">Принят</span>
                                                {% else %}
                                                    <span class="badge badge-warning">Отменен</span>
                                                {% endif %}
                                            </td>
                                            <td>
                                                Статус предложения:
                                            </td>
                                            <td>
                                                <span class="badge badge-success">{{ form.status }}</span>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </a>
                            <li class="list-group-item list-group-item list-group-item-secondary">
                                <tr>
                                    {% if true_sug == 0 %}
                                        <td colspan="4">
                                            <a href="{% url 'status_in_work' pk=form.pk %}">
                                                <button class="btn btn-success" id="click_button">
                                                    --------------------------------Выбрать-----------------------------
                                                </button>
                                            </a>
                                        </td>
                                    {% else %}
                                        {% if form.selected_offer == True %}
                                            {% if form.status == 'В работe' %}
                                                <td colspan="4">
                                                    <a href="{% url 'status_in_work' pk=form.pk %}">
                                                        <button class="btn btn-danger" id="cancel_button">
                                                            -----------------------------Отменить------------------------------
                                                        </button>
                                                    </a>
                                                </td>
                                            {% elif form.status == 'Выполнено' %}
                                                <td>
                                                    <a href="#">
                                                        <button class="btn btn-primary" id="5stars">
                                                            --------------------Оценить производителя-----------------------
                                                        </button>
                                                    </a>
                                                </td>
                                            {% endif %}
                                        {% else %}
                                        {% endif %}
                                    {% endif %}
                                </tr>
                            </li>
                            <hr>
                        {% endfor %}
                    {% endif %}

                    {% for form in suggestions %}
                        {% if user == form.author %}
                            <a href="/suggestion/view/{{form.id}}" class="list-group-item list-group-item-action list-group-item-secondary">
                                <table class="table2">
                                    <tbody>
                                        <tr >
                                            <td >Автор предложения:</td>
                                            <td>{{ form.author }}</td>
                                            <td>Дата создания предложения: </td>
                                            <td>{{ form.date_create }}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="4">{{ form.offer_description }}</td>
                                        </tr>
                                        <tr>
                                            <td>Предложенная стоимость:</td>
                                            <td>{{ form.offer_price}}&#8372;</td>
                                            <td>Срок выполнения до:</td>
                                            <td>{{ form.deadline }}</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Состояние предложения:
                                            </td>
                                            <td>
                                                {% if form.selected_offer %}
                                                    <span class="badge badge-success">Принят</span>
                                                {% else %}
                                                    <span class="badge badge-warning">Отменен</span>
                                                {% endif %}
                                            </td>
                                            <td>
                                                Статус предложения:
                                            </td>
                                            <td>
                                                <span class="badge badge-success">{{ form.status }}</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </a>
                            <hr>
                        {% endif %}
                    {% endfor %}

                    {% if user != order.author %}
                        <div class="but">
                            <a href="{% url 'suggestion' pk=order.pk %}" class="list-group-item list-group-item-action list-group-item-secondary">
                                Оставить предложение
                            </a>
                        </div>
                    {% endif %}
                </ul>
            </div>
        </div>
        <!--Предложения для автора-->

        <!--Заказ-->
        <div class="vo">
            <div class="container">
                <ul class="list-unstyled chat-1 scrollbar-light-blue">
                    <!--Статусы зказов-->
                    <li class="list-group-item list-group-item list-group-item-dark">
                        <h3>
                            <p>
                                Статус заказа:
                                {% if order.status == 'В обсуждении' %}
                                    <span class="badge badge-pill badge-warning">{{ order.status }}</span>
                                {% elif order.status == 'В работe' %}
                                    <span class="badge badge-pill badge-success">{{ order.status }}</span>
                                {% elif order.status == 'Выполненый' %}
                                    <span class="badge badge-pill badge-secondary">{{ order.status }}</span>
                                {% elif order.status == 'Отменённый' %}
                                    <span class="badge badge-pill badge-danger">{{ order.status }}</span>
                                {% endif %}
                            </p>
                        </h3>
                    </li>
                    <!--Статусы зказов-->

                    <!--Таблица зказа-->
                    <li class="list-group-item list-group-item list-group-item-secondary">
                        <table class="">
                        <tbody>
                            <tr>
                                <td colspan="2">Заказ создан:</td>
                                <td colspan="2"><span class="badge badge-info">{{ order.date_create }}</span></td>
                                <td colspan="2">Автор заказа:</td>
                                <td colspan="2"><span class="badge badge-info">{{ order.author }}</span></td>
                            </tr>
                            <tr>
                                <td colspan="2">Заголовок заказа:</td>
                                <td colspan="6"><span class="badge badge-pill badge-light">{{ order.title }}</span></td>
                            </tr>
                            <tr>
                                <td colspan="8">
                                    <img class="order-image" src="{{order.image_view.url}}" width="500" height="auto" >
                                </td>
                            </tr>
                            <tr>
                                <td colspan="8">
                                    {% if files %}
                                        {% for file in files %}
                                            <a href="{{ file.file.url }}" class="badge badge-primary" target="blank">{{ file }}</a>
                                        {% endfor %}
                                    {% else %}
                                        <p>No Files!</p>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>Описание:</td>
                                <td colspan="7">
                                    <span class="badge badge-pill badge-light">
                                        {{ order.description }}
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">Количество изделий:</td>
                                <td colspan="2"><span class="badge badge-pill badge-light">{{ order.amount }}</span></td>
                                <td colspan="2">Срок выполнения заказа:</td>
                                <td colspan="2"><span class="badge badge-pill badge-light">{{ order.lead_time }}</span></td>
                            </tr>
                            <tr>
                                <td colspan="2">Бюджет заказа:</td>
                                <td colspan="2"><span class="badge badge-pill badge-light">{{ order.proposed_budget }}</span></td>
                                <td colspan="2">Город заказа:</td>
                                <td colspan="2"><span class="badge badge-pill badge-light">{{ order.city }}</span></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    {% if user == order.author %}
                                        {% if order.status == 'В работe' %}
                                            <a href="{% url 'status_ready' object.id %}"
                                               class="btn btn-primary  btn-lg active btn-sm"
                                               role="button" aria-pressed="true">
                                                Заказ выполнен
                                            </a>
                                        {% elif order.status == 'Выполненый' %}
                                            <a href="{% url 'status_ready' object.id %}"
                                               class="btn btn-secondary btn-lg active btn-sm"
                                               role="button" aria-pressed="true">
                                                Доработать заказ
                                            </a>
                                        {% endif %}
                                        <!-- -->
                                    {% endif %}
                                </td>
                                <td colspan="2">
                                    {% if user == order.author %}
                                        <a href="{% url 'order_update' object.id %}"class="btn btn-warning btn-lg active btn-sm" role="button" aria-pressed="true">
                                                Изменить заказ
                                        </a>
                                        <!-- Изменить ссылку на Url-->
                                    {% endif %}
                                </td>
                                <td colspan="3">
                                    {% if user == order.author %}
                                        <a href="{% url 'order_delete' object.id %}" class="btn btn-danger btn-lg active btn-sm" role="button" aria-pressed="true">Удалить заказ</a>
                                        <!--  -->
                                    {% endif %}
                                </td>

                            </tr>
                        </tbody>
                    </table>
                    </li>
                    <!--Таблица зказа-->
                </ul>
            </div>
        </div>
        <!--Заказ-->
    </div>
{% endblock %}
