{% extends "HomePage/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}{% trans "Create Order" %}{% endblock %}

{% block content %}


<link rel="stylesheet" href="{% static 'orders/style.css' %}">
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
        <li class="breadcrumb-item active" aria-current="page">Создать заказ</li>
    </ol>
</nav>
<div class="jumbotron jumbotron-fluid">

    <div class="container">
        <h1 class="display-5">Создать новый заказ</h1>
        <p class="lead">Создайте и опубликуйте заказ.</p>
        <hr>
        <form class="text-left" method="POST" enctype="multipart/form-data">
            <div class="content-section">
                    {% csrf_token %}
                    <table class="order_create_table">
                        <tr class="tr1">
                            <td colspan="2" >
                                {{ order_form.title|as_crispy_field}}
                            </td>
                            <td colspan="2">
                                <small>Введите заголовок заказа. Например: Изготовить токарную детать, выполнить токарную обработку</small>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                {{ order_form.description|as_crispy_field}}
                            </td>
                            <td>
                                <small>Опишите подробно работу которую необходимо выполнить.</small>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                {{ order_form.amount|as_crispy_field}}
                            </td>
                            <td colspan="2">
                                <small>Укажите количество изделий.</small>
                            </td>
                        </tr>
                        <tr>

                            <td colspan="2">
                                {{ order_form.city|as_crispy_field}}
                            </td>
                            <td colspan="2">
                                <small>Выберите город в который отправится заказ</small>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="form-image" id="order-image">
                                    <input type="file" name="pdf_view" onchange="loadFile(event)">
                                </div>
                            </td>
                            <td colspan="2">
                                <small>Выберите обложку заказка</small>
                            </td>
                        </tr>
                        <tr>
                            <td >
                                <div class="form-files">
                                    {{ order_form.files}}
                                </div>
                            </td>
                            <td >
                                <div class="form-files">
                                    {{ order_form.files}}
                                </div>
                            </td>
                            <td>
                                <div class="form-files">
                                    {{ order_form.files}}
                                </div>
                            </td>
                            <td>
                                <small>Добавте фалы</small>
                            </td>
                        </tr>

                        <!-- Привью обложки jpg
                        <tr class="tr2">
                            <td colspan="3" class="tr2">
                                <img id="output" width="600" height="auto"/>
                                <script>
                                  var loadFile = function(event) {
                                    var output = document.getElementById('output');
                                    output.src = URL.createObjectURL(event.target.files[0]);
                                    output.onload = function() {
                                      URL.revokeObjectURL(output.src) // free memory
                                    }
                                  };
                                </script>
                            </td>
                            <td>
                                <small>Проверте обложку заказа.</small>
                            </td>
                        </tr>
                        -->

                        <tr>
                            <td colspan="2">
                                {{ order_form.lead_time|as_crispy_field}}
                            </td>
                            <td colspan="2">
                                <small>Установите сроки выполнения работ.</small>
                            </td>
                        </tr>
                        <tr class="tr1">
                            <td colspan="2">
                                {{ order_form.proposed_budget|as_crispy_field}}
                            </td>
                            <td colspan="2">
                                <small>Укажите предположительный бюджет.</small>
                            </td>
                        </tr>
                        <tr class="tr1">
                            <td colspan="2">
                                {{ order_form.categories|as_crispy_field}}
                            </td>
                            <td colspan="2">
                                <small>Выберите категории под которые подпадает ваш заказ.</small>
                            </td>
                        </tr>

                    </table>
                    <hr>
                    <div align="center">
                        <button class="btn btn-outline-success btn-lg ml-4" type="submit">Создать заказ</button>
                        <button type="reset" class="btn btn-outline-secondary btn-lg ml-4">Отменить</button>
                    </div>

                </div>
        </form>
    </div>
</div>
{% endblock %}

