{% extends "HomePage/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Order" %} № {{ order.id }}{% endblock %}
{% load static %}

{% block content %}

    <!-- Load Style -->
    <link rel="stylesheet" href="{% static 'orders/order_style.css' %}">
    <!-- Load Style -->

    <!-- Suggestion -->
    <div class="container">
        <table class="table2">
            <tbody>
                <tr >
                    <td >Автор предложения:</td>
                    <td>{{ suggestion.author }}</td>
                    <td>Дата создания предложения: </td>
                    <td>{{ suggestion.date_create }}</td>
                </tr>
                <tr>
                    <td colspan="4">{{ suggestion.offer_description }}</td>
                </tr>
                <tr>
                    <td>Предложенная стоимость:</td>
                    <td>{{ suggestion.offer_price }}</td>
                    <td>Срок выполнения до:</td>
                    <td>{{ suggestion.deadline }}</td>
                </tr>
                <tr>
                    <td colspan="2">Статус предложения: </td>
                    <td colspan="2">
                        {% if suggestion.selected_offer %}
                            <span class="badge badge-success">Принят</span>
                        {% else %}
                            <span class="badge badge-warning">Отменен</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        {% if true_sug == 0 %}
                            <a href="{% url 'status_in_work' pk=suggestion.pk %}">
                                <button class="btn btn-success" id="click_button">
                                    -----------------------Выбрать----------------------
                                </button>
                            </a>
                        {% else %}
                            {% if suggestion.selected_offer == True %}
                                <a href="{% url 'status_in_work' pk=suggestion.pk %}">
                                <button class="btn btn-danger" id="cancel_button">
                                    ----------------------Отменить---------------------
                                </button>
                                </a>
                            {% else %}
                                <p>Чебурек!)</p>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Suggestion -->

    <!-- Dialog -->
    <div class="container">
        <div class="card rare-wind-gradient chat-room">
            <div class="card-body">
                <div class="row px-lg-2 px-2">
                    <div class="col-md-6 col-xl-12 pl-md-3 px-lg-auto px-0">
                        <div class="chat-message">

                            <!-- CHAT -->
                            <ul class="list-unstyled chat-1 scrollbar-light-blue">
                                {% for mes in message1 %}
                                    {% if mes.member == suggestion.author %}
                                        <li class="d-flex justify-content-between mb-4">
                                        <img src="{{ user.profile.image.url }}" alt="avatar"
                                             class="avatar rounded-circle mr-2 ml-lg-3 ml-0 z-depth-1"
                                             width="150" height="150">
                                            <div class="chat-body white p-3 ml-2 z-depth-1">
                                            <div class="header">
                                                  <strong class="primary-font">{{ mes.member }}</strong>
                                                  <small class="pull-right text-muted"><i class="far fa-clock"></i>
                                                      {{ mes.pub_date }}
                                                  </small>
                                            </div>
                                            <hr class="w-100">
                                            <p class="mb-0">
                                              {{mes.message}}
                                            </p>
                                            </div>
                                        </li>
                                    {% else %}
                                        <li class="d-flex justify-content-between mb-4">
                                            <div class="chat-body white p-3 z-depth-1">
                                                <div class="header">
                                                    <strong class="primary-font">{{ mes.member }}</strong>
                                                    <small class="pull-right text-muted"><i class="far fa-clock"></i>
                                                        {{ mes.pub_date }}
                                                    </small>
                                                </div>
                                                <hr class="w-100">
                                                <p class="mb-0">
                                                {{mes.message}}
                                                </p>
                                            </div>
                                        <img src="{{ user.profile.image.url }}" alt="avatar"
                                             class="avatar rounded-circle mr-0 ml-3 z-depth-1"
                                             width="150" height="150">
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                            <!-- CHAT -->

                            <form class="form-group" method="post">
                                {% csrf_token %}
                                <div class="white">
                                    <div class="basic-textarea">
                                        <textarea class="form-control pl-2 my-0" id="exampleFormControlTextarea2" rows="3" placeholder="Type your message here..." name="message"></textarea>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-outline-pink btn-rounded btn-sm waves-effect waves-dark float-right">Отправить</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Dialog -->

{% endblock %}
