.vso {
    width: 70%;
    position: absolute;
    left: 15%;
    font-size: 10px;
}

.vso .vs {

    width: 30%;
    float:left;
    text-align: center;
    font-size: 16px;
}

.vso .vo {
    width: 60%;
    float: right;
    margin-left: 10%;
    text-align: center;
    font-size: 16px;
}

.table {
    background-color: #0F4C81;
    color: white;
}

.table2 {
    background-color: #4184C0;
    color: white;
}