body {

}

* {
    box-sizing: border-box;
}

.vso {
    width: 70%;
    position: absolute;
    left: 15%;
}

.vso .vs {

    width: 30%;
    float: left;
    border: 1px solid #595959;
}

.vso .vo {
    width: 70%;
    float: left;
}

.table {
    background-color: #0F4C81;
    color: white;
}

.table2 {
    background-color: #4184C0;
    color: white;
}