body {

}

* {
    box-sizing: border-box;
}

.vso {
    width: 70%;
    position: absolute;
    left: 15%;
}

.vso .vs {

    width: 40%;
    float: left;
    border: 1px solid #595959;
    font-size: 15px;
}

.vso .vo {
    width: 60%;
    float: left;
}

.table {
    color: gray;
}

.vso .vs .table {
    background-color: #4184C0;
    color: white;
    width: 500px;

}
