{% extends "HomePage/base.html" %}
{% load i18n %}
{% block title %}{% trans "Dashboard" %}{% endblock %}
{% load static %}
{% load bootstrap_pagination %}

{% block content %}
    <link rel="stylesheet" href="{% static 'dashboard/style.css' %}">


    <div class="container" id="wefwe">

        <ul class="list-unstyled chat-1 scrollbar-light-blue">

            <!-- Верхний блок -->
            <li href="#" class="list-group-item list-group-item-dark">
                <ul class="list-group list-group-horizontal">

                    <a href="{% url 'dashboard-order' %}" class="list-group-item list-group-item-action list-group-item-dark">
                        <h6> Мои заказы</h6>
                    </a>

                    <a href="{% url 'dashboard_sug_active' %}" class="list-group-item list-group-item-action list-group-item-dark">
                        <h6>Мои предложения</h6>
                    </a>

                    <li class="list-group-item list-group-item-action active">
                        <h6>Info панель</h6>
                    </li>

                    <a href="{% url 'dashboard-messages' %}" class="list-group-item list-group-item-action list-group-item-dark">
                        <h6>Сообщения</h6>
                    </a>

                    <a href="" class="list-group-item list-group-item-action list-group-item-dark">
                        <h6>Отзывы</h6>
                    </a>

                </ul>
            </li>
            <!-- Верхний блок -->

            <!-- Средний блок -->
            <ul class="list-group list-group-horizontal">
                <!--Заказы и предложения инфопанели-->
                <li class="list-group-item list-group-item list-group-item-dark">
                    <ul class="list-group">
                        {% if used_order %}
                            {% for order in user_order %}
                                <a href="orders/{{order.id}}" class="list-group-item list-group-item-action list-group-item-secondary">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <small>{{ order.title }}</small>
                                                </td>
                                                <td>
                                                    <small>Заказчик/Исполнитель</small>
                                                </td>
                                                <td>
                                                    <small>Срок исполнения</small>
                                                </td>
                                                <td>
                                                    <small>{{ order.proposed_budget }}</small>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </a>
                                <hr>
                            {% endfor %}
                        {% else %}
                            <li class="list-group-item list-group-item list-group-item-secondary">
                                На данный момент у вас нет активных заказов и предложений. Для создания нового заказа перейдите по ссылке
                                <a href="{% url 'order_create' %}">Создать заказ</a>
                                Или оставте предложение для существующих заказов
                                <a href="{% url 'orders' %}">Все заказы</a>
                            </li>
                        {% endif %}
                    </ul>
                </li>
                <!--Заказы и предложения инфопанели-->

                <!--Информация о пользователе-->
                <li class="list-group-item list-group-item-dark">
                        <ul class="list-group">
                              <li href="" class="list-group-item active">
                                  {{ user.username }}
                              </li>

                              <li class="list-group-item list-group-item list-group-item-secondary">
                                  <img src="{{ user.profile.image.url }}" width="200">
                              </li>

                              <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-secondary">
                                    Рейтинг
                                    <span class="badge badge-primary badge-pill">{{user_profile.rating}}</span>
                              </li>
                              <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-secondary">
                                    Заказов создано
                                    <span class="badge badge-primary badge-pill">{{ user_order_count }}</span>
                              </li>
                              <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-secondary">
                                    В обсуждении
                                    <span class="badge badge-primary badge-pill">{{ user_order_count_dis }}</span>
                              </li>
                              <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-secondary">
                                    В работе
                                    <span class="badge badge-primary badge-pill">{{ user_order_count_in_work }}</span>
                              </li>
                              <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-secondary">
                                    Выполнено
                                    <span class="badge badge-primary badge-pill">{{ user_order_count_ready }}</span>
                              </li>
                              <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-secondary">
                                    Предложения
                              </li>
                        </ul>
                </li>
                <!--Информация о пользователе-->
            </ul>
            <!-- Средний блок -->

            <!-- Нижний блок -->
            <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">
                Лента новостей
            </a>
            <!-- Нижний блок -->

        </ul>

    </div>
{% endblock %}
